<h3><%= link_to "Admin Dashboard", admin_root_path%></h3>
<!DOCTYPE html>
<html>
<head>
  <title>CISShoppingCart</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body style="background: #EEEEEE;">
  <div style = "float: right;margin-right: 23px;">
  <% if user_signed_in? %>  <%= current_user.email %> &nbsp; |

 <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> 
<% else %> 
<%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %> 
<% end %> 
</div>
<div> <%= flash[:notice]%>
</div>
  <div class='left'>
    <%= render :partial => 'admin/shared/left_panel'%>     
  </div>
  
  <div class='main_container'>
    <%= yield%>
  </div>
  
</body>
</html>